body{
    font-family: "Roboto", sans-serif;
  
}

.container{
   margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}
h1 {
    margin: 10px;
}
button {
    padding: 13px;
    background-color: green;
    color: white;
    border: 1px solid;
    cursor: pointer;
}
.increment {
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
}
input{
  
    height: 15px;
    width: 50px;
}